################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RazorPagesMovie/RazorPagesMovie/obj
/RazorPagesMovie/.vs/RazorPagesMovie/v15
