################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RazorPagesMovie/RazorPagesMovie/obj
/RazorPagesMovie/.vs/RazorPagesMovie/v15
/RazorPagesMovie/.vs/config
/RazorPagesMovie/RazorPagesMovie/bin/Debug/netcoreapp2.1
/RazorPagesMovie/RazorPagesMovie/RazorPagesMovie.csproj.user
